
api/config.php
vendor
node_modules
spa/*.js
!spa/sw.js
spa/build-meta.json
spa/files-cache.json
*.bak

# PHP Documentor
phpDocumentor.phar

# Generated documentation
docs/api
docs/spa
docs/.phpdoc-cache

