
api/config.php
vendor
node_modules
dist/
dist.zip
deployment.tar.gz
*.bak

# PHP Documentor
phpDocumentor.phar

# Generated documentation
docs/api
docs/spa
docs/.phpdoc-cache

# Generated instance directories
demo/spa/
